/*
html {
	overflow-y: scroll !important;
	overflow-x: auto !important;
}
*/

* {
	box-sizing: border-box;
}

$container: 1200px;
$padding: 20px;

body > div {
	width: 100%;
	min-width: $container;
}

.container {
	width: $container;
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0px auto;
	position: relative;
	padding: 0px $padding;
}

.hidden {
	display: none;
}

.input_error {
	border: 2px solid red !important;
}

@mixin anim($duration:0.2s, $property:all) {
	-webkit-transition: $property linear $duration;
	-moz-transition: $property linear $duration;
	-o-transition: $property linear $duration;
	transition: $property linear $duration;
}

@mixin ease($duration:1s, $property:all) {
	-webkit-transition: $property ease $duration;
	-moz-transition: $property ease $duration;
	-o-transition: $property ease $duration;
	transition: $property ease $duration;
}

@mixin btn($width, $height, $f_size:30px) {
	display: block;
	padding: 0px;
	border: none;
	margin: 0px auto;
	width: $width;
	height: $height;
	line-height: $height;
	background-image: url(../img/button-green-bg.png), url(../img/button-green-bg-hover.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-position: top center;
	border-radius: 32px;
	text-align: center;
	font-size: $f_size;
	font-weight: 900;
	font-family: ProximaNova;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.73);
	box-shadow: 0px 5px 0px #097000, 0px 10px 0px rgba(0,0,0,0.5);
	
	&:hover {
		cursor: pointer;
		text-decoration: none;
		background-image: url(../img/button-green-bg-hover.png);
	}
}