@font-face {
	font-family: 'ProximaNova';
	src:	local('ProximaNova'),
			url('../fonts/ProximaNova-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src:	local('ProximaNova'),
			url('../fonts/ProximaNova-Semibold.otf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src:	local('ProximaNova'),
			url('../fonts/ProximaNova-Extrabold.otf');
	font-weight: 900;
	font-style: normal;
}